:root {
    --primary-color: #ffffff;
    --oyster-pink: rgba(238,214,215,1);
--thunderbird: rgba(179,23,30,1);
--contessa: rgba(201,112,115,1);
--my-pink: rgba(212,140,140,1);
--can-can: rgba(212,148,148,1);
--crail: rgba(188,63,70,1);
--fuzzy-wuzzy-brown: rgba(196,84,84,1);
--fuzzy-wuzzy-brown: rgba(196,84,92,1);
--tall-poppy: rgba(188,44,52,1);
}

:root {
    --color-primary: #6c63ff;
    --color-success: #08ad84ed;
    --crail: rgba(188,63,70,1);
    --color-warning: #f75842;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;
    --thunderbird: rgba(179,23,30,1);

    --container-width-lg: 80%;
    --container-width-md: 98%;
    --container-width-sm: 94%;

    --transition: all  400ms ease;
}